<header>

    <nav class="navbar navbar-icon-top navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">MTMApp</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/home">
                        <i class="fa fa-home"></i>
                        Home
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about-us">
                        <i class="fa fa-users"></i>
                        About us
                    </a>
                </li>
                <!--                <li class="nav-item dropdown">-->
                <!--                    <a class="nav-link dropdown-toggle" href="/med-therapy" id="navbarDropdown" role="button"-->
                <!--                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
                <!--                        <i class="fa fa-dashboard">-->
                <!--                            <span class="badge badge-primary">11</span>-->
                <!--                        </i>-->
                <!--                        Dashboard-->
                <!--                    </a>-->
                <!--                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">-->
                <!--                        <a class="dropdown-item" href="#">Drugs</a>-->
                <!--                        <a class="dropdown-item" href="#">Stockpile</a>-->
                <!--                        <div class="dropdown-divider"></div>-->
                <!--                        <a class="dropdown-item" href="#">Edit therapy</a>-->
                <!--                    </div>-->
                <!--                </li>-->
            </ul>
            <ul class="navbar-nav" th:if="${#request.getRemoteUser() != null}">
                <li class="nav-item">
                    <a class="nav-link" href="#" id="notifications-menu-btn">
                        <i class="fa fa-bell">
                            <span class="badge badge-danger" id="notifications-count"></span>
                        </i>
                        Notifications
                    </a>
                    <th:block th:if="${#authentication.getPrincipal()} != null">
                        <div class="notification-list" style="display: none; position: absolute; z-index: 999;">
                        </div>
                    </th:block>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/med-therapy">
                        <i class="fa fa-medkit"></i>
                        My therapy
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/user">
                        <i class="fa fa-user"></i>
                        Profile
                    </a>
                </li>
            </ul>
            <div class="my-2 ml-3 my-lg-0">
                <a href="/login" class="btn btn-primary my-2 my-sm-0 mr-1" th:if="${#request.getRemoteUser() == null}">
                    Sign in
                </a>
                <a href="/logout" class="btn btn-outline-light my-2 my-sm-0"
                   th:if="${#request.getRemoteUser() != null}">
                    Logout
                </a>
            </div>
        </div>
    </nav>

</header>