<header>

    <nav class="navbar navbar-icon-top navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">MTMApp</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">
                        <i class="fa fa-home"></i>
                        Home
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <i class="fa fa-dashboard">
                            <span class="badge badge-danger">11</span>
                        </i>
                        Dashboard
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <i class="fa fa-users">
                            <span class="badge badge-warning">11</span>
                        </i>
                        About us
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-medkit">
                            <span class="badge badge-primary">11</span>
                        </i>
                        My therapy
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Drugs</a>
                        <a class="dropdown-item" href="#">Stockpile</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Edit therapy</a>
                    </div>
                </li>
            </ul>
            <ul class="navbar-nav ">
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <i class="fa fa-bell">
                            <span class="badge badge-info">11</span>
                        </i>
                        Notifications
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <i class="fa fa-globe">
                            <span class="badge badge-success">11</span>
                        </i>
                        Similar
                    </a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <a href="/register" class="btn btn-info my-2 my-sm-0 mr-1">Sign up</a>
                <a href="/login" class="btn btn-primary my-2 my-sm-0 mr-1">Sign in</a>
                <a href="/logout" class="btn btn-outline-light my-2 my-sm-0">Logout</a>
            </form>
        </div>
    </nav>

</header>