#med-therapy .box {
    border-radius: 5px;
    width: 100%;
}

#med-therapy .box .card-body {
    text-align: center;
}

#med-therapy .box .card-title {
    margin-top: 2%;
    margin-bottom: 2%;
}

#med-therapy .box img {
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    width: 100%;
    height: 100px;
    object-fit: cover;
}

#med-therapy .box .overlay {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background-color: rgba(92, 95, 236, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
}

#med-therapy .box .overlay a {
    text-decoration: none;
}

#med-therapy .box .more-btn {
    width: 160px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    color: #252525;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 20px;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);
    text-decoration: none;
}

#med-therapy .box .more-btn:hover {
    color: #FFFFFF;
    background-color: #0275d8;
    transition: all ease 0.3s;
    cursor: pointer;
}

#med-therapy .box .overlay {
    visibility: hidden;
}

#med-therapy .box .slide-img:hover .overlay {
    visibility: visible;
    animation: fade 0.5s;
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.p-over-video {
    font-size: 6vw;
    position: absolute;
    bottom: 8%;
    left: 30px;
    z-index: 1;
    width: 30%;
    font-weight: 350;
    color: #f5f6fa;
    letter-spacing: 4px;
    text-shadow: 0 1px 0 #ccc,
    0 2px 0 #c9c9c9,
    0 3px 0 #bbb,
    0 4px 0 #b9b9b9,
    0 5px 0 #aaa,
    0 6px 1px rgba(0, 0, 0, .1),
    0 0 5px rgba(0, 0, 0, .1),
    0 1px 3px rgba(0, 0, 0, .3),
    0 3px 5px rgba(0, 0, 0, .2),
    0 5px 10px rgba(0, 0, 0, .25),
    0 10px 10px rgba(0, 0, 0, .2),
    0 20px 20px rgba(0, 0, 0, .15);
}