<main>

    <div class="container-fluid home-main">
        <h2>Welcome <span class="blinker">!</span></h2>
<!--        <a href="/about-us" class="btn btn-default">More about us</a>-->
    </div>
    <div class="container-fluid home-content1">
        <div class="row">
            <div class="col-md-6 content1-left">
                <h3>Title <span class="blinker">?</span></h3>
                <p>(details)</p>
            </div>
            <div class="col-md-6 content1-right">
                <p>(details)</p>
            </div>
        </div>
    </div>
    <div class="container-fluid home-content2">
        <p>(details)</p>
    </div>

</main>