<main>

    <section class="pt-5 pb-5" id="med-therapy">
        <div class="container">
            <div class="row">

                <div class="row">
                    <div class="col-12 pb-4 text-center">
                        <button class="btn btn-success ml-3"
                                data-toggle="modal"
                                data-target="#addDrugModal">
                            Add new drug to therapy
                        </button>
                    </div>
                </div>

                <!-- Add drug modal -->
                <div class="modal fade" id="addDrugModal" tabindex="-1" aria-labelledby="addDrugModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog">
                        <form th:method="post" th:action="@{'/drug/add/{therapyId}' (therapyId=${medicalTherapy.id})}">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="addDrugModalLabel">Add new drug</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div class="form-group">
                                        <label for="name" class="col-form-label">Name</label>
                                        <input type="text"
                                               class="form-control"
                                               name="name"
                                               placeholder="Enter drug name">
                                    </div>
                                    <div class="form-group">
                                        <label class="col-form-label">Dose</label>
                                        <input type="number"
                                               class="form-control mb-1"
                                               name="dose"
                                               placeholder="Enter drug dose"/>
                                    </div>
                                    <div class="form-group">
                                        <label for="use" class="col-form-label">Use</label>
                                        <select class="form-control" name="use">
                                            <option th:each="use : ${T(mk.ukim.finki.mtmapp.model.enums.Use).values()}"
                                                    th:value="${use}" th:text="${use}">
                                            </option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="stockpile" class="col-form-label">Stockpile</label>
                                        <input type="number"
                                               class="form-control"
                                               name="stockpile"
                                               placeholder="Enter drug stock"/>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close
                                    </button>
                                    <button type="submit" class="btn btn-primary">Save</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                <input type="hidden" th:value="${medicalTherapy.medicalTherapyStatus}"
                       id="medicalTherapyStatus">
                <input type="hidden" th:value="${#request.userPrincipal.getName()}"
                       id="principalName">

                <div class="col-12">
                    <div class="row" th:each="drug : ${medicalTherapy.drugs}"> <!-- As many as number_of_drugs -->
                        <div class="col-12 mb-4">
                            <div class="card text-center">
                                <div class="card-header">
                                    <ul class="nav nav-pills card-header-pills">
                                        <li class="nav-item">
                                            <a class="btn btn-warning mr-1" href="" data-toggle="modal"
                                               th:data-target="'#editDrugModal-' + ${drug.id}">Edit</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="btn btn-danger" href="" data-toggle="modal"
                                               th:data-target="'#deleteDrugModal-' + ${drug.id}">Delete</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="card-body">
                                    <h3 class="card-title"><b th:text="${drug.name}"></b></h3>
                                    <p><span>Use <b class="card-text" th:text="${drug.use}"></b></span></p>
                                    <h5 class="pb-2"><span><b class="card-text" th:text="${drug.dose}"></b>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                         class="bi bi-capsule" viewBox="0 0 16 16">
                                      <path fill-rule="evenodd"
                                            d="M1.828 8.9 8.9 1.827a4 4 0 1 1 5.657 5.657l-7.07 7.071A4 4 0 1 1 1.827 8.9Zm9.128.771 2.893-2.893a3 3 0 1 0-4.243-4.242L6.713 5.429l4.243 4.242Z"/>
                                    </svg>
                                    </span></h5>
                                    <a th:href="@{'/drug/'+ ${drug.id} + '/get'}"
                                       class="btn btn-primary get-drug-btn w-25"
                                       th:data-stock="${drug.stockpile >= drug.dose}">
                                        GET
                                    </a>
                                </div>
                                <div class="card-footer text-muted">
                                    <span><b th:text="${drug.stockpile}"></b> more left</span>
                                </div>
                            </div>
                        </div>

                        <!-- Edit drug modal -->
                        <div class="modal fade" th:id="'editDrugModal-' + ${drug.id}" tabindex="-1"
                             aria-labelledby="editDrugModalLabel"
                             aria-hidden="true">
                            <div class="modal-dialog">
                                <form th:method="post" th:action="@{'/drug/{id}/edit' (id=${drug.id})}">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="editDrugModalLabel">Modify drug properties</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="form-group">
                                                <label for="name" class="col-form-label">Name</label>
                                                <input type="text"
                                                       class="form-control"
                                                       id="name"
                                                       name="name"
                                                       th:value="${drug.name}">
                                            </div>
                                            <div class="form-group">
                                                <label class="col-form-label">Dose</label>
                                                <input type="number"
                                                       class="form-control mb-1"
                                                       id="dose"
                                                       name="dose"
                                                       th:value="${drug.dose}"/>
                                            </div>
                                            <div class="form-group">
                                                <label for="use" class="col-form-label">Use</label>
                                                <select class="form-control" id="use" name="use">
                                                    <option th:each="use : ${T(mk.ukim.finki.mtmapp.model.enums.Use).values()}"
                                                            th:value="${use}" th:text="${use}"
                                                            th:selected="${drug.use == use}">
                                                    </option>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label for="stockpile" class="col-form-label">Stockpile</label>
                                                <input type="number"
                                                       class="form-control"
                                                       id="stockpile"
                                                       name="stockpile"
                                                       th:value="${drug.stockpile}"/>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close
                                            </button>
                                            <button type="submit" class="btn btn-primary">Save changes</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>

                        <!-- Delete drug modal -->
                        <div class="modal fade" th:id="'deleteDrugModal-' + ${drug.id}" tabindex="-1" role="dialog"
                             aria-labelledby="deleteDrugModalTitle" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="deleteDrugModalTitle">Confirm delete</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        Are you sure you want to delete this drug?
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close
                                        </button>
                                        <a th:href="@{'/drug/'+ ${drug.id} + '/delete'}" class="btn btn-primary">
                                            Yes
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>

</main>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        let user = $("#principalName").val();

        let get_btns = $(".get-drug-btn");
        for (let i = 0; i < get_btns.length; i++) {
            if ($(get_btns[i]).attr("data-stock") === 'false') {
                $(get_btns[i]).css("pointer-events", "none")
                    .removeClass('btn-primary')
                    .addClass('btn-danger');
            }
        }

        updateNotifications();

        $(".delete-btn").click(function (e) {
            let id = $(e.currentTarget).attr("data-drug-id");

            $.ajax({
                type: "GET",
                url: "/api/drug/" + id + "/delete",
                success: function (response) {
                    updateNotifications()
                },
                error: function (req, status, error) {
                    console.log(req);
                }
            });
        });

        function updateNotifications() {
            $.ajax({
                type: "GET",
                url: "/api/notification/" + user,
                success: function (response) {
                    let notif_count = 0;
                    Array.prototype.reverse.call(response);
                    let list = $(".notification-list").empty();
                    for (let i = 0; i < response.length; i++) {
                        let sentAt = response[i].sentAt.split("T");
                        let date = sentAt[0];
                        let timeArray = sentAt[1].split(".");
                        let time = timeArray[0];
                        let card = `<div class="card">
                                        <div class="card-body">
                                            <p class="card-text">${response[i].content}</p>
                                            <p class="card-text d-flex justify-content-between">
                                            <small class="text-muted"><i class="fa fa-calendar"></i> ${date}</small>
                                            <small class="text-muted"><i class="fa fa-clock-o"></i> ${time}</small>
                                            </p>
                                        </div>
                                    </div>`;
                        list.append(card);
                        // console.log(response[i].seen)
                        if (!response[i].seen) {
                            ++notif_count;
                        }
                    }
                    if (notif_count > 0) {
                        $("#notifications-count").text(notif_count);
                    } else {
                        $("#notifications-count").hide();
                    }
                },
                error: function (req, status, error) {
                    console.log(req);
                }
            });
        }

        let medTherapyStatus = $("#medicalTherapyStatus").val();
        if (medTherapyStatus === "COMPLETED") {
            updateNotifications();
            $(".get-drug-btn").css("pointer-events", "none")
                .removeClass('btn-primary')
                .addClass('btn-secondary');
        }

        $("#notifications-menu-btn").click(function () {
            $(".notification-list").toggle();

            $.ajax({
                type: "GET",
                url: "/api/notification/" + user + "/seen",
                success: function (response) {
                    updateNotifications()
                },
                error: function (req, status, error) {
                    console.log(req);
                }
            });
        });
    });
</script>